<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load custom_tags %}
</head>
<body>
    <div class="container">
        <table id="customers" border="1">
            
<thead>
    <th>Heures</th>
    {% for jour in jours %}
        <th>{{ jour }}</th>
    {% endfor %}
</thead>
<tbody>
    {% for heure in heures %}
    <tr>
        <td>{{ heure }}</td>
        {% for jour in jours %}
            <td>
                <ul>
                    {% if creneaux_by_day_hour.jour and creneaux_by_day_hour.jour.heure %}
                        {% for creneau in creneaux_by_day_hour.jour.heure %}
                            <li>{{ creneau.date|date:"d/m/Y" }} {{ creneau.heure|time:"H:i" }} avec {{ creneau.moniteur }}</li>
                        {% endfor %}
                    {% else %}
                        <li>Aucun créneau pour cette heure et ce jour</li>
                    {% endif %}
                </ul>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
        </table>

        <h1>Members</h1>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <table id="customers" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Heures Restantes</th>
                    <th>Créneaux</th>
                    <th colspan="2" id="mid">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{ member.firstname }}</td>
                    <td>{{ member.lastname }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.mobile }}</td>
                    <td>{{ member.heurrestante }}</td>
                    <td>
                        <ul>
                            {% for creneau in creneaux %}
                                {% if creneau.member.id == member.id %}
                                    <li>{{ creneau.date|date:"d/m/Y" }} {{ creneau.heure|time:"H:i" }} avec {{ creneau.moniteur }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="creneaux/{{ member.id }}"><button id="ad">Créneaux</button></a>
                    </td>
                    <td>
                        <a href="update/{{ member.id }}"><button id="up">Changer</button></a>
                    </td>
                    <td>
                        <a href="delete/{{ member.id }}"><button id="del">Supprimer</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br><br>
        <a href="{% url 'add' %}"><button id="new3">Add Member</button></a>
    </div>
</body>
</html>
